<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<appSettings>
  <macAddress>28:cf:e9:14:11:67</macAddress>
  <macAddress>28:cf:e9:14:11:58</macAddress>
  <macAddress>28:cf:e9:14:11:11</macAddress>
  <macAddress>28:cf:e9:14:11:12</macAddress>
  <macAddress>28:cf:e9:14:11:13</macAddress>
  <macAddress>28:cf:e9:14:11:14</macAddress>
</appSettings>